venv/
.env
.envrc
.venv
env/
ENV/
env.bak/
venv.bak/

dist/
*.egg-info
*.egg
eggs/
.eggs/

.coverage
*.py.cover
.cache/
.cover

__pycache__/
*.py[cod]
*$py.class
__pypackages__/

.git/

.idea/

logs/
